[Unit]
Description=Aylur's GTK Shell
After=graphical-session.target
PartOf=graphical-session.target

[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=agsv1
Restart=always
RestartSec=3
