[Unit]
Description=Astal
After=graphical-session.target
PartOf=graphical-session.target

[Install]
WantedBy=hyprland-session.target

[Service]
WorkingDirectory=%h/.config/astal
ExecStart=lua %h/.config/astal/init.lua
Restart=always
RestartSec=3
