[Unit]
Description=astal restarter
After=graphical-session.target

[Install]
WantedBy=hyprland-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart astal.service
