[Unit]
Description=Emacs Daemon

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=emacs --fg-daemon
ExecStop=emacsclient --eval "(kill-emacs)"
Restart=on-failure
