# to make this service accept 'arguments':
# - rename to eww-window@.service
# - replace all 'topbar' names to %i
# - enable service with eww-window@topbar.service
[Unit]
Description=Eww Statusbar
PartOf=graphical-session.target
After=eww.service
PartOf=eww.service

[Service]
ExecStartPre=eww ping
ExecStart=eww open %i
ExecStop=eww close %i
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=hyprland-session.target
