[Unit]
Description=Eww Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=/usr/bin/eww daemon --no-daemonize
Restart=on-failure
RestartSec=3s
