[Unit]
Description=Eww Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=eww daemon --no-daemonize
Restart=always
RestartSec=3s
