[Unit]
Description=Bar for Wayland
After=graphical-session.target
PartOf=graphical-session.target
# StartLimitBurts=5

[Install]
WantedBy=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/eww open topbar
# Restart=on-failure
# RestartSec=5s
