[Unit]
Description=Hyrpland wallpaper utility
PartOf=graphical-session.target

[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=/usr/bin/hyprpaper
