[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=swayidle timeout 300 'swaylock' timeout 600 'swaymsg "hyprctl dispatch dpms off"' resume 'swaymsg "hyprctl dispatch dpms on"' before-sleep 'swaylock --grace 0'
Type=simple

[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target
