[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=/usr/bin/swayidle timeout 300 'swaylock -f -e -k -l -c 000000' timeout 600 'swaymsg "/usr/bin/hyprctl dispatch dpms off"' resume 'swaymsg "/usr/bin/hyprctl dispatch dpms on"' before-sleep '/usr/bin/swaylock -f -e -k -l -c 000000' &
Type=simple

[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target
