[Install]
WantedBy=hyprland-session.target

[Service]
# sometimes bugs out on waking up
ExecStart=/usr/bin/swayidle timeout 300 'swaylock' timeout 600 'swaymsg "/usr/bin/hyprctl dispatch dpms off"' resume 'swaymsg "/usr/bin/hyprctl dispatch dpms on"' before-sleep '/usr/bin/swaylock'
Type=simple

[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target
