[Unit]
Description=Sync timezone & coordinates hourly
PartOf=graphical-session.target

[Install]
WantedBy=hyprland-session.target

[Service]
Type=simple
ExecStart=/home/earthian/.local/bin/sync_tz_and_loc
