[Unit]
Description=Timer to sync timezone & coordinates hourly

[Timer]
OnBootSec=2min
# man 7 systemd.time
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=hyprland-session.target
