[Unit]
Description=handle automounting
After=waybar.service
Requires=waybar.service

[Service]
ExecStart=/usr/bin/udiskie
#to unmount run 'udisksctl unmount -b /dev/sdc1'
#ExecStart=/usr/bin/env udiskie --tray --appindicator
Restart=always

[Install]
WantedBy=hyprland-session.target
