[Unit]
Description=Idle manager for Wayland
After=graphical-session.target
PartOf=graphical-session.target
X-Restart-Triggers=$HOME/.config/waybar/config $HOME/.config/waybar/style.css
StartLimitBurts=5

[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=5s
