
# To life reload when config gets changed enable watcher.service & watcher.path

[Unit]
Description=Idle manager for Wayland
After=graphical-session.target
PartOf=graphical-session.target
# StartLimitBurts=5

[Install]
WantedBy=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
WorkingDirectory=/home/earthian/.config/waybar
Restart=on-failure
# RestartSec=5s
