[Unit]
Description=Day/night gamma adjustments for Wayland compositors
PartOf=graphical-session.target

[Install]
WantedBy=hyprland-session.target

[Service]
ExecStart=/home/earthian/.local/bin/screen_temp
Slice=session.slice
Restart=always
RestartSec=3s
