.date {
  @extend %box;
  padding: 0 19px;
  .fg {
    font-family: Megrim;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 10px;
    padding: 8px 0; // NOTE: this thing is keeping the bar's height
  }
  .bg {
    font: 2.1em RubikGlitch;
    letter-spacing: 3px;
    color: $background;
    text-shadow: 0 0 4px $foreground; // color.scale($foreground, $lightness: -20%);
    .hour,
    .colon,
    .minute {
      font-size: 2em;
    }
    .hour,
    .minute {
      margin-top: -19px;
    }
    .colon {
      margin: 0px 8px;
      margin-top: -25px;
    }
  }
}
