%box {
  background: color.scale($background, $alpha: -20%);
  border-radius: 9px;
  padding: 0 11px;
  box-shadow: 0 0 2px 1px color.scale($background, $alpha: -30%);
  transition: all 0.4s ease-in-out;
}

%shadow-text {
  text-shadow: 2px 2px color.scale($foreground, $alpha: -60%);
  transition: all 0.4s ease-in-out;
}

%shadow-icon {
  color: $background;
  text-shadow: 0 0 2px $foreground;
}

%bright-text {
  text-shadow: 0 0 2px color.scale($foreground, $lightness: -25%),
    0 0 5px color.scale($foreground, $lightness: -25%),
    0 0 10px color.scale($foreground, $lightness: -35%);
}

%brighter-text {
  text-shadow: 0 0 4px color.scale($foreground, $lightness: -15%),
    0 0 8px color.scale($foreground, $lightness: -25%),
    0 0 15px color.scale($foreground, $lightness: -35%);

  // more spread-around version
  // text-shadow:
  //   0 0 5px color.scale($foreground, $lightness: -25%),
  //   0 0 10px color.scale($foreground, $lightness: -25%),
  //   0 0 15px color.scale($foreground, $lightness: -35%);
}
