.workspaces {
  @extend %box;
  label {
    @extend %bright-text;
    font: 1.7em Silkscreen;
    margin-top: -2px;
    color: $background;
    &.active {
      @extend %brighter-text;
      color: $foreground;
    }
  }
}

.client {
  @extend %box;
  @extend %bright-text;
  font: bold 1.2em Jura; // Comfortaa; Unbounded;
  color: color.scale($foreground, $lightness: -10%);
}

.media {
  @extend %box;
  .icon {
    @extend %shadow-text;
    color: $_accent;
  }
  &_hidden {
    background: transparent;
    box-shadow: none;
  }
  label {
    font: bold 1em Megrim;
    letter-spacing: 2px;
    &.title {
      @extend %shadow-text;
    }
    &.artist {
      font: bold 0.7em Megrim;
    }
  }
}

@keyframes fontsize {
  100% {
    font-size: 2em;
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
