@use "sass:color";

* {
  all: unset;
}

@import "/home/earthian/.cache/wal/colors.scss"; // pywal
@import "extendables";

$_accent: color.scale($color6, $saturation: 15%);
$_accent2: color.scale($color5, $saturation: 40%);
$_background: color.scale($color5, $saturation: -50%, $lightness: -40%);

.container_main {
  // saucecodepro nerd font
  font-family: hasklug nerd font;
  margin: 2px 4px;
  color: $foreground;
  background: transparent;
}

// no nesting, otherwise no worky
menu {
  @extend %box;
  padding: 10px;
  margin-right: 20px;
  menuitem {
    padding: 1px 0;
    font: bold 1em Jura; // Comfortaa; Unbounded;
    &:hover {
      background-color: color.scale($color6, $lightness: -60%);
    }
  }
}

// Also present in menus
separator {
  background-color: $_accent2;
  margin: 3px 0;
  padding: 1px 0;
  opacity: 0.6;
}

@import "light";
@import "left";
@import "center";
@import "right";
@import "slim";
@import "notifications";
