.user_info {
  @extend %box;

  .layout {
    @extend %shadow-text;
    font: 1.5em Iceland;
    letter-spacing: 4px;
  }

  .weather_and_updates {
    font-size: 0.9em;
    box {
      margin-top: -1px;
    }
    separator {
      margin-left: -4px;
    }
  }

  .notification_counter {
    .bg {
      color: $_accent2;
      opacity: 0.6;
      font-size: 2.1em;
      margin-right: 8px;
      margin-top: 1px;
    }
    .fg {
      min-width: 27px;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

progressbar {
  trough {
    border-radius: 5px;
    min-height: 1px;
    min-width: 3px;
    background: $_background;
    progress {
      border-radius: 5px;
      min-width: 3px;
      background: $_accent;
    }
  }
}

.sys_info {
  @extend %box;
  .network {
    .vpn {
      margin-right: 3px;
      font-size: 1.2em;
    }
    .disconnected {
      font-size: 1.4em;
      margin-right: 8px;
    }
    .connected {
      // font: .8em syne mono;
      // font: .8em bellota;
      font: 0.8em shantell sans;
      .bold {
        font-weight: bold;
      }
      .up {
        margin-top: -17px;
      }
      .down {
        margin-bottom: -20px;
      }
    }
    progressbar {
      trough {
        min-height: 3px;
      }
      progress {
        min-height: 3px;
      }
    }
  }

  .audio {
    .icon {
      margin-left: 3px;
    }
    .sink .icon {
      font: 1.3em daddytimemono nerd font;
    }

    .level {
      font: bold 0.9em megrim;
      margin-top: 2px;
    }
  }

  .backlight {
    .circle_text {
      font-size: 1.2em;
      margin-right: 5px;
    }
  }

  .bluetooth {
    progressbar {
      margin-left: 2px;
      progress {
        background: $_accent2;
      }
      &.charging {
        progress {
          background: $color6;
        }
      }
      padding: 3px 1px;
    }
    .device_name {
      font-size: 0.5em;
    }
    font: 1.1em daddytimemono nerd font;
  }
}

circular-progress {
  color: $_accent;
  font-size: 3px;
  min-height: 27px;
  min-width: 27px; // without this both circular progress widgets break
  background: $_background;
}
.circle_text {
  opacity: 0.5;
}

.telemetery {
  @extend %box;
  padding-right: 10px;

  .power_profile_icon {
    font-size: 1.1em;
    margin-right: -5px;
  }

  .cpu {
    levelbar {
      trough {
        // top left+right bottom
        margin: -2px 1px 1px 0px;
        min-height: 1px;
        min-width: 1px;
        background: transparent;
        // background: $_background;
        .filled {
          min-width: 2px;
          background: $_accent;
        }
      }
    }

    .label {
      font: bold 0.8em Megrim;
      margin-top: 1px;
      color: color.scale($foreground, $alpha: -20%);
      letter-spacing: 2px;
      .text {
        margin-top: -3px;
      }
      .value {
        color: $foreground;
      }
    }
  }

  .memory {
    circular-progress {
      font-size: 2px;
    }
    .zram {
      circular-progress {
        color: $_accent2;
        font-size: 2px;
        min-width: 21px; // without this both circular progress widgets break
      }
    }
  }

  .circle_text {
    font-size: 1.2em;
    margin-right: 2px;
  }

  .battery {
    separator {
      margin: 1px 3px;
      min-width: 2px;
    }

    .info {
      // font: normal 1em syne mono;
      font-size: 0.9em;
    }

    .energy_rate {
      margin-top: -15px;
    }
    .time_remaining {
      margin-bottom: -15px;
    }

    .percent {
      font: 1.7em RubikWetPaint;
      color: color.scale($foreground, $alpha: -20%);
      .icon {
        font-size: 0.7em;
      }
      &.charging {
        .icon {
          margin-top: 2px;
          font-size: 0.9em;
          text-shadow:
            0 0 5px color.scale($foreground, $lightness: -35%),
            0 0 5px color.scale($foreground, $lightness: -45%),
            0 0 10px color.scale($foreground, $lightness: -45%);
        }
      }
      &.low {
        // more bright version
        text-shadow:
          0 0 5px color.scale($foreground, $lightness: -25%),
          0 0 10px color.scale($foreground, $lightness: -25%),
          0 0 15px color.scale($foreground, $lightness: -35%);
      }
    }
  }
}
