.user-info {
  @extend %box;

  .layout {
    @extend %shadow-text;
    font: 1.5em Iceland;
    letter-spacing: 4px;
  }

  .updates {
    .bg {
      color: color.scale($color6, $saturation: 30%);
      opacity: 0.6;
      font-size: 2.2em;
      margin-top: -3px;
      margin-left: -12px;
    }
    .fg {
      min-width: 31px;
      font-size: 1.1em;
      margin-left: 1px;
      @extend %shadow-text;
      &.small {
        font-size: 0.9em;
      }
    }
  }
  .weather {
    font: 1.2em jura;
  }
  .notifs {
    .bg {
      color: $_accent2;
      opacity: 0.6;
      font-size: 2.1em;
      margin-right: 8px;
      margin-top: -1px;
    }
    .fg {
      min-width: 33px;
      // margin-top: -2px;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

progressbar {
  trough {
    border-radius: 5px;
    min-height: 1px;
    min-width: 3px;
    background: $_background;
  }
  progress {
    border-radius: 5px;
    min-width: 3px;
    background: $_accent;
  }
}

.sys-info {
  @extend %box;
  .network {
    .vpn {
      margin-right: 3px;
      font-size: 1.1em;
    }
    .disconnected {
      font-size: 1.4em;
      margin-right: 8px;
    }
    .connected {
      // font: .8em syne mono;
      // font: .8em bellota;
      font: 0.8em shantell sans;
      .bold {
        font-weight: bold;
      }
      .up {
        margin-top: -20px;
      }
      .down {
        margin-bottom: -20px;
      }
    }
    progressbar {
      trough {
        min-height: 4px;
      }
      progress {
        min-height: 4px;
      }
    }
  }

  .audio {
    .icon {
      margin-left: 3px;
    }
    .output .icon {
      font: 1.3em daddytimemono nerd font;
    }

    .level {
      font: bold 0.9em megrim;
      margin-top: 2px;
    }
  }

  .backlight {
    .circle-text {
      font-size: 1.2em;
      margin-right: 5px;
    }
  }

  .bluetooth {
    progressbar {
      margin-left: 2px;
      progress {
        background: $_accent2;
      }
      &.charging {
        progress {
          background: $color6;
        }
      }
      padding: 6px 1px;
    }
    .device_name {
      font-size: 0.5em;
    }
    font: 1.1em daddytimemono nerd font;
  }
}

circular-progress {
  color: $_accent;
  font-size: 3px;
  min-height: 27px;
  min-width: 27px; // without this both circular progress widgets break
  background: $_background;
}
.circle-text {
  opacity: 0.5;
}

.telemetery {
  @extend %box;
  padding-right: 10px;

  .cpu {
    .load {
      color: $foreground;
      opacity: 0.9;
    }
    .temp {
      color: $_accent;
    }
    .label {
      font: bold 0.8em Megrim;
      margin-top: -3px;
      color: color.scale($foreground, $alpha: -20%);
      letter-spacing: 2px;
      .text {
        margin-top: -1px;
      }
      .value {
        color: $foreground;
      }
    }
  }

  .circle-text {
    font-size: 1.4em;
    margin-right: 2px;
  }

  .battery {
    separator {
      margin: 3px;
      min-width: 2px;
    }

    .info {
      // font: normal 1em syne mono;
      font-size: 0.9em;
      letter-spacing: 1px;
    }

    .energy_rate {
      margin-top: -15px;
    }
    .time_remaining {
      margin-bottom: -15px;
    }

    .percent {
      font: 1.7em RubikWetPaint;
      color: color.scale($foreground, $alpha: -20%);
      .icon {
        font-size: 0.7em;
      }
      &.charging {
        .icon {
          margin-top: 2px;
          font-size: 0.9em;
          text-shadow:
            0 0 5px color.scale($foreground, $lightness: -35%),
            0 0 5px color.scale($foreground, $lightness: -45%),
            0 0 10px color.scale($foreground, $lightness: -45%);
        }
      }
      &.low {
        // more bright version
        text-shadow:
          0 0 5px color.scale($foreground, $lightness: -25%),
          0 0 10px color.scale($foreground, $lightness: -25%),
          0 0 15px color.scale($foreground, $lightness: -35%);
      }
    }
  }
}
