.DS_Store
.idea
.uuid
*.log
tmp/
.github/
*.http

.npm-global/
.npm/
node_modules/

# dotfiles specific
.antidote
/.config/zsh/.zdirs
/.config/zsh/.grmlrc
/.config/zsh/plugins.zsh
/.config/zsh/.cache/
.zcompdump
/.config/htop/
/.config/pulse/
/.config/WebCord/
/.config/syncthing/*
!/.config/syncthing/config.xml
/.config/dconf/
/.config/discord/
/.config/nvm/
/.config/systemd/user/hyprland-session.target.wants/
/.config/pavucontrol.ini
/.config/cef_user_data/
/.config/neofetch/
/.config/systemd/user/sockets.target.wants/
/.config/systemd/user/default.target.wants/
/.config/scdl/
/.config/thefuck/
/.config/swaylock/config
/.local/bin/chatgpt
/.config/fontforge/
/.config/emacs/
/.config/doom/
/.config/cava/
/.config/libvirt/
/.config/exercism/
/.config/terminal/
/.config/heroic/*
!/.config/heroic/config.json
/.config/legendary/
/.config/CrossOver/*
!/.config/CrossOver/preferences.json
/.config/gthumb/
