[user]
  name = earthian
  email = 418@duck.com
[core]
  excludesfile = ~/.gitignore
[github]
  user = seme4eg
[pull]
  rebase = true
[push]
  default = current
[merge]
  conflictstyle = zdiff3
[rerere]
  enabled = true
[rebase]
  autostash = true
  autosquash = true
[diff]
  algorithm = histogram
  submodule = log
  colorMoved = default
  colorMovedWS = allow-indentation-change
[submodule]
  recurse=true
  propagateBranches=true
  fetchJobs=3
[fetch]
  parallel=3
[includeIf "gitdir:~/git/mp/"]
  path = ~/git/mp/.gitconfig
