.uuid
*.log
tmp/
.github/
*.http
node_modules/

# dotfiles specific
.antidote
/.config/zsh/.zdirs
/.config/zsh/.grmlrc
/.config/zsh/plugins.zsh
/.config/zsh/.cache/
.zcompdump
/.config/pulse/
/.config/WebCord/
/.config/dconf/
/.config/syncthing
/.config/discord/
/.config/nvm/
/.config/systemd/user/hyprland-session.target.wants/
/.config/pavucontrol.ini
/.config/cef_user_data/
/.config/neofetch/
/.config/systemd/user/sockets.target.wants/
/.config/systemd/user/default.target.wants/
/.config/swaylock/config
/.config/fontforge/
/.config/emacs/
/.config/doom/
/.config/cava/
/.config/heroic/*
!/.config/heroic/config.json
/.config/gthumb/
/.config/nautilus/
/.config/chromium/
/.icons/*
!/.icons/default/
!/.icons/unpack-all
/.config/user-dirs.dirs
/.config/terminal/
/.config/ArmCord/*
!/.config/ArmCord/themes/
!/.config/ArmCord/storage/
/.config/ArmCord/storage/lang.json
/.config/ArmCord/storage/window.json
/.config/content_shell/
/.config/solaar/
/.config/MusicBrainz/
/.config/okularrc
/.config/QtProject.conf
/.config/go/
/.config/imapnotify
/.config/qutebrowser/
