# true global ignore rules
.uuid
*.log
tmp/
.github/
*.http
node_modules/
.gitlab-ci-local/

# dotfiles specific
.antidote
.zcompdump
/.config/Code - OSS/
/.config/MusicBrainz/
/.config/QtProject.conf
/.config/Vampire_Survivors*
/.config/ags/compiled.css
/.config/ags/types
/.config/cava/
/.config/cef_user_data/
/.config/chromium/
/.config/content_shell/
/.config/dconf/
/.config/discord/
/.config/dlv/
/.config/doom/
/.config/emacs/
/.config/font-manager/
/.config/fontforge/
/.config/go/
/.config/gthumb/
/.config/heroic/*
!/.config/heroic/config.json
!/.config/heroic/hidden.png
/.config/Thunar/
/.config/java/
/.config/neofetch/
/.config/okularrc
/.config/ookla/
/.config/pavucontrol.ini
/.config/pulse/
/.config/qutebrowser/
/.config/solaar/
/.config/syncthing/*
!/.config/syncthing/config.xml
/.config/systemd/user/default.target.wants/
/.config/systemd/user/hyprland-session.target.wants/
/.config/systemd/user/sockets.target.wants/
/.config/systemd/user/timers.target.wants/
/.config/terminal/
/.config/unity3d/
/.config/user-dirs.dirs
/.config/vesktop/
/.config/v2raya/*
!/.config/v2raya/config.json
/.config/wpg/*
!/.config/wpg/wpg.conf
/.config/xfce4/
/.config/zsh/.cache/
/.config/zsh/.grmlrc
/.config/zsh/.zdirs
/.config/zsh/plugins.zsh
/.local/share/icons/*
!/.local/share/icons/*.tar.*
/.config/BraveSoftware/
/.config/systemd/user/graphical-session.target.wants/
/.config/zsh/.zcompcache/
/.config/droidcam
