@use 'sass:color';

* { all: unset; }

@import '/home/earthian/.cache/wal/colors.scss'; // pywal
@import 'styles/extendables';

$_accent: color.scale($color6, $saturation: 15%);
$_accent2: color.scale($color5, $saturation: 40%);
$_background: color.scale($color5, $saturation: -50%, $lightness: -40%);

.container_main {
  // saucecodepro nerd font
  font-family:hasklug nerd font;
  margin: 5px;
  color: $foreground;
  background: transparent;
}

@import 'styles/light';
@import 'styles/left';
@import 'styles/center';
@import 'styles/right';
@import 'styles/slim';
