@use 'sass:color';

* { all: unset; }

@import '/home/earthian/.cache/wal/colors.scss'; // pywal
@import 'styles/extendables';

.container_main {
  // saucecodepro nerd font
  font-family: Noto Sans Nerd Font, Koulen;
  padding: 8px;
  color: $foreground;
}

@import 'styles/left';
@import 'styles/center';
@import 'styles/right';
