@use 'sass:color';

* { all: unset; }

@import '/home/earthian/.cache/wal/colors.scss'; // pywal
@import 'styles/extendables';

.container_main {
  // saucecodepro nerd font
  font-family:hasklug nerd font;
  margin: 6px;
  color: $foreground;
  background: transparent;
}

@import 'styles/left';
@import 'styles/center';
@import 'styles/right';
@import 'styles/slim';
