
@import url("/home/earthian/.cache/wal/gtk-colors.css");
@import url("./styles/notifications.css");

.control-center {
  background: transparent;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.1;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

