%box {
  background: $background;
  opacity: .8;
  border-radius: 11px;
  padding: 0 18px;
  box-shadow: 0 0 5px 2px $background;
}

/*ewws' transform widget works in a very weird way so here's a crutch */
%back-text {
  font-family: RubikGlitch;
  font-size: 4.4em;
  color: color.scale($foreground, $alpha: -60%);
  margin-top: -17px;
}

%shadow-text {
  text-shadow: 3px 3px color.scale($foreground, $alpha: -60%);
}
