%box {
  background: color.scale($background, $alpha: -20%);
  border-radius: 11px;
  padding: 0 16px;
  box-shadow: 0 0 3px 2px color.scale($background, $alpha: -20%);
  transition: all 0.5s ease-in-out;
}

%shadow-text {
  text-shadow: 3px 3px color.scale($foreground, $alpha: -60%);
}
