.date {
  @extend %box;
  padding: 0;
  .fg {
    font-family: Megrim;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 10px;
  }
  .bg {
    font: 2.1em RubikGlitch;
    color: $background;
    text-shadow: 0 0 2px color.scale($foreground, $lightness: -20%);
  }
  .colon {
    margin: 0 2px;
    margin-top: -1px;
  }
}
