.date {
  @extend %box;
  .fg {
    font-family: Megrim;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 10px;
  }
  .bg {
    font-family: RubikGlitch;
    font-size: 2.4em;
    color: $background;
    text-shadow: 0 0 2px color.scale($foreground, $lightness: -20%);
  }
  .colon {
    margin: 0 3px;
  }
}
