.date {
  @extend %box;
  padding: 0 20px;
  .fg-left, .fg-right {
    font-family: Megrim;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 3px;

    // Or maybe Iceland? remove letter spacing tho
    // font-family: Iceland;
    // font-size: 1.9em;
  }
  .bg-left, .bg-center, .bg-right {
    @extend %back-text;
  }
  .bg-left {
    padding-right: 8px;
  }
  .bg-right {
    padding-left: 8px;
  }
  .bg-center {
    margin-top: -20px;
  }
}
