.workspaces {
  @extend %box;
  // initial
  // XXX: bring back when eww animations problem is resolved
  // background: linear-gradient(-45deg, $color5, $background, $color5, $background);
  // background-size: 400% 400%;
  // idea: https://www.bypeople.com/pure-css-gradient-background-animation
  // animation: gradient 10s linear infinite;

  label {
    font: 1.7em Silkscreen;
    margin-top: -2px;
    color: $background;
    // text-shadow: 0 0 2px $foreground;
    text-shadow: 0 0 5px color.scale($foreground, $lightness: -25%),
                 0 0 10px color.scale($foreground, $lightness: -25%),
                 0 0 20px color.scale($foreground, $lightness: -35%);
    &.active {
      color: $foreground;
      text-shadow: 0 0 5px color.scale($foreground, $lightness: -15%),
                   0 0 8px color.scale($foreground, $lightness: -25%),
                   0 0 10px color.scale($foreground, $lightness: -25%),
                   0 0 15px color.scale($foreground, $lightness: -25%),
                   0 0 20px color.scale($foreground, $lightness: -35%);
    }
  }
}

.window {
  @extend %box;
  font: bold 1.2em Jura; // Comfortaa; Unbounded;
  color: $foreground;
  text-shadow: 0 0 5px color.scale($foreground, $lightness: -25%),
               0 0 10px color.scale($foreground, $lightness: -25%),
               0 0 20px color.scale($foreground, $lightness: -35%);

  // text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  // color: #fff6a9;
  // color: #fccaff;
  // text-shadow: 0 0 5px #f562ff, 0 0 10px #f562ff, 0 0 20px #890092;

  // animation: blink 12s infinite;
}

.player {
  @extend %box;
  text-shadow: 3px 3px $_background;
  .icon {
    color: $_accent;
  }
  &_hidden {
    background: transparent;
    box-shadow: none;
  }
  label {
    @extend %shadow-text;
    font: bold 1em Megrim;
    margin-top: 2px;
    letter-spacing: 2px;
  }
}

@keyframes fontsize {
  100% {
    font-size: 2em;
  }
}

@keyframes gradient {
  0% {background-position: 100% 100%}
  100% {background-position: 15% 0%}
}
