// light theme specific styles

.light {
  $_accent: color.scale($color6, $saturation: 30%, $lightness: -50%);
  $_background: color.scale($color5, $saturation: 0%, $lightness: 30%);

  // left block
  .window {
    text-shadow: none;
  }
  .player {
    text-shadow: 3px 3px $_background;
    .icon {color: $_accent;}
  }

  // center block
  .date {
    .fg {
      font: bold 1.2em shantell sans;
      letter-spacing: 8px;
    }
  }

  // right block
  .telemetery .bat {
    &.charging, &.low {color: $background;}
  }

  progressbar {
    trough {background: $_background;}
    progress {background: $_accent;};
  }

  circular-progress {
    color: $_accent;
    background: $_background;
  }

  .telemetery {
    .temp {color: $_accent;}
  }

}
