.user-info {
  @extend %box;

  .tray {
    menu {
      @extend %box;
      padding: 10px;
      margin-right: 20px;
      menuitem {
        padding: 1px 0;
        font: bold 1em Jura; // Comfortaa; Unbounded;
        &:hover {
         background-color: color.scale($color6, $lightness: -60%);
        }
      }
      separator {
        background-color: $_accent2;
        margin: 3px 0;
        padding: 1px 0;
        opacity: .6;
      }
    }
  }

  .layout {
    @extend %shadow-text;
    font: 1.5em Iceland;
    letter-spacing: 4px;
  }

  .updates {
    .bg {
      color: color.scale($color6, $saturation: 30%);
      opacity: .6;
      font-size: 2.2em;
      margin-top: -2px;
      margin-right: 13px;
    }
    .fg {
      font-size: 1.1em;
      @extend %shadow-text;
      &.small {
        font-size: .9em;
      }
    }
  }
  .weather {
    font: 1.2em jura;
  }
  .notifs {
    .bg {
      color: $_accent2;
      opacity: .6;
      font-size: 2.1em;
      margin-top: -1px;
      margin-right: 8px;
    }
    .fg {
      font-size: 1em;
      font-weight: bold;
    }
  }
}

progressbar {
  trough {
    border-radius: 5px;
    min-height: 1px;
    min-width: 3px;
    background: $_background;
  }
  progress {
    border-radius: 5px;
    min-width: 3px;
    background: $_accent;
  };
}

.sys-info {
  @extend %box;
  .network {
    .vpn {
      font-size: 1.3em;
    }
    .disconnected {
      font-size: 1.4em;
    }
    .fg {
      // font: .8em syne mono;
      // font: .8em bellota;
      font: .8em shantell sans;
      .bold {
        font-weight: bold;
      }
    }
    progressbar {
      trough {
        min-height: 4px;
      }
      progress {
        min-height: 4px;
      }
    }
  }
  .audio {
    progressbar {
      padding: 3px 1px;
    }
    .volume, .mic {
      // any nerd font
      font: 1em daddytimemono nerd font;
      font-size: .7em;
      letter-spacing: 2px;
      // line-height: 5px;
    }
    progressbar.vol_progress {
      progress {
        background: $_accent2;
      };
    }
    progressbar.muted {
      progress {
        background: color.scale($color6, $lightness: -60%);
      }
    }
  }
  .backlight {
    .circle-text {
      font-size: 1.2em;
      margin-right: 5px;
    }
  }
  .bluetooth {
    progressbar {
      progress {
        background: $_accent2;
      };
      &.charging {
        progress {
          background: $color6;
        }
      }
      padding: 6px 1px;
    }
    font: 1.1em daddytimemono nerd font;
  }
}

circular-progress {
  color: $_accent;
  background: $_background;
}
.circle-text {
  font-size: 1.4em;
  opacity: .5;
}

.telemetery {
  @extend %box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;

  .cpu {
    .load {
      color: $foreground;
      opacity: .9;
    }
    .temp {
      color: $_accent;
    }
    .label {
      font: bold .8em Megrim;
      margin-top: -3px;
      color: color.scale($foreground, $alpha: -20%);
      letter-spacing: 2px;
      .text {
        margin-top: -1px;
      }
      .value {
        color: $foreground;
      }
    }
  }

  .circle-text {
    margin-right: 2px;
  }
  .bat {
    font: 1.2em RubikWetPaint;
    color: color.scale($foreground, $alpha: -20%);
    &.icon {
      font: 1.8em RubikWetPaint;
    }
    &.charging {
      text-shadow: 0 0 5px color.scale($foreground, $lightness: -35%),
                   0 0 10px color.scale($foreground, $lightness: -45%),
                   0 0 15px color.scale($foreground, $lightness: -45%);
    }
    &.low {
      // more bright version
      text-shadow: 0 0 5px color.scale($foreground, $lightness: -25%),
                   0 0 10px color.scale($foreground, $lightness: -25%),
                   0 0 20px color.scale($foreground, $lightness: -35%);
    }
  }
}
