.user-info {
  @extend %box;
  font: 1.7em Iceland;
  .layout {
    @extend %shadow-text;
    letter-spacing: 4px;
  }

  .updates {
    .bg {
      color: color.scale($color6, $saturation: 30%);
      opacity: .6;
      font-size: 2.3em;
      margin-top: -14px;
    }
    .fg {
      @extend %shadow-text;
    }
  }
  .weather {
    font: 0.7em jura;
  }
}

progressbar {
  trough {
    border-radius: 5px;
    min-height: 1px;
    min-width: 3px;
    background: $_background;
  }
  progress {
    border-radius: 5px;
    min-width: 3px;
    background: $_accent;
  };
}

.sys-info {
  @extend %box;
  .network {
    .vpn {
      font-size: 1.3em;
    }
    .disconnected {
      font-size: 1.4em;
    }
    .fg {
      // font: .8em syne mono;
      // font: .8em bellota;
      font: .8em shantell sans;
      .bold {
        font-weight: bold;
      }
    }
    .essid {
      font: 1em Iceland;
    }
    progressbar {
      trough {
        min-height: 4px;
      }
      progress {
        min-height: 4px;
      }
    }
  }
  .audio {
    progressbar {
      padding: 6px 1px;
    }
    .volume, .mic {
      // font: 1.2em Silkscreen;
      font-size: .8em;
      letter-spacing: 2px;
      // line-height: 5px;
    }
    .muted {
      progress {
        background: color.scale($color6, $lightness: -60%);
      }
    }
  }
  .backlight {
    transition: all 0.3s ease-in-out;
    .circle-text {
      font-size: 1.2em;
      margin-right: 5px;
    }
  }
  .bt {
    font: 1.1em daddytimemono nerd font;
  }
}

circular-progress {
  color: $_accent;
  background: $_background;
}
.circle-text {
  font-size: 1.4em;
  opacity: .5;
}

.telemetery {
  @extend %box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  .load {
    color: $foreground;
    opacity: .9;
  }
  .temp {
    color: $_accent;
  }
  .temp-text {
    font: bold .8em Megrim;
    color: color.scale($foreground, $alpha: -20%);
    letter-spacing: 2px;
    .temp-value {
      color: $foreground;
    }
  }
  .GPU {
    .temp {
      color: color.scale($color5, $saturation: 30%);
    }
  }
  .circle-text {
    margin-right: 2px;
  }
  .bat {
    font: 1.7em RubikWetPaint;
    color: color.scale($foreground, $alpha: -20%);
    &.charging {
      text-shadow: 0 0 5px color.scale($foreground, $lightness: -35%),
                   0 0 10px color.scale($foreground, $lightness: -45%),
                   0 0 15px color.scale($foreground, $lightness: -45%);
    }
    &.low {
      // more bright version
      text-shadow: 0 0 5px color.scale($foreground, $lightness: -25%),
                   0 0 10px color.scale($foreground, $lightness: -25%),
                   0 0 20px color.scale($foreground, $lightness: -35%);
    }
  }
}
}
