[Desktop Entry]
Name=Heroic Games Launcher
Exec=/opt/Heroic/heroic --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=heroic
StartupWMClass=Heroic
Comment[de]=Ein Open Source Spielelauncher for GOG und Epic Games
Comment=An Open Source Launcher for GOG and Epic Games
MimeType=x-scheme-handler/heroic;
Categories=Game;
