[Desktop Entry]
Name=Vesktop (user)
Exec=vesktop --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=vesktop
StartupWMClass=Vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
Comment=Vesktop is a custom Discord desktop app
MimeType=x-scheme-handler/discord;
